@import 'fontAwesome/font-awesome';

/* Oswald Light - cyrillic_latin */
@font-face {
  font-family: 'Oswald Light';
  src: url("fonts/Oswald-Light.ttf") format('truetype');
}

/* Playfair Display Regular - cyrillic_latin */
@font-face {
  font-family: 'Playfair Display';
  src: url("fonts/PlayfairDisplay-Regular.ttf") format('truetype');
}

/* Arimo Regular - cyrillic_latin */
@font-face {
  font-family: 'Arimo';
  src: url("fonts/Arimo-Regular.ttf") format('truetype');
}
