$header-yellow: #c0aa40;
$menu-blue: #3d2d71;
$menu-lighter-blue: #5b4c8d;
$menu-darker-blue: #231a3d;
$search-red: #a43b35;
$form-border-gray: #9d9d9d;
$excerpt-light-red: #f2e8e8;

$small-font-size: 12px;
$global-font-size: 16px;
$main-header-font-size: 20px;
$paragraph-font-size: 20px;
$frame-h1-font-size: 16px;
$excerpt-font-size: 18px;
$excerpt-title-font-size: 30px;
$excerpt-category-font-size: 20px;

$header-height: 48px;
$menu-link-height: 48px;
$sidebar-width: 270px;
$popup-width: 600px;
$frame-padding: 24px;
$excerpt-min-width: 48px;
$pagination-size: 24px;
$excerpt-margin-vertical: 8px;
$excerpt-list-side-block-width: 54px;
$excerpt-tile-bottom-block-height: 32px;
$manage-excerpt-button-height: 18px;
